body {
    background: #a1d6ff;
    font-family: Helvetica, sans-serif;
    color: white;
}

.mainHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.addDetail {
    text-decoration: none;
    height: 50px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 4px;
    background: darken(#a1d6ff, 20%);
}

.messageDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid darken(#a1d6ff, 20%);
    margin: 5% 25%;
    width: 50%;
    .messageHeader {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        background: darken(#a1d6ff, 30%);
    }
}