extends layout

block content
  div.mainHeader
    h1= title
    p Welcome to #{title}
    a.addDetail(href='/new') Add Message
  
  each message in messages
    div.messageDetail
      div.messageHeader
        h1
          = message.user
        p
          = message.added
      p
        = message.text
    
